@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
@media print {
  .pdf-page {
    page-break-after: always;
    break-after: always;
    background-color: white !important; 
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body {
    background-color: white !important;
  }

  @page {
    margin: 0;
    size: A4;
  }
}


